.form-item__description {
  max-width: inherit;
}

/* Clipboardjs tooltip styles */
.clipboardjs-button {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  color: #333;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  -webkit-appearance: none;
}
.clipboardjs .tooltip,
.clipboardjs-button .tooltip {
  position: relative;
  display: inline-block;
}
.clipboardjs .tooltip .tooltiptext,
.clipboardjs-button .tooltip .tooltiptext {
  position: absolute;
  z-index: 1;
  bottom: -200%;
  left: -150%;
  visibility: hidden;
  padding: 5px 4px;
  text-align: center;
  color: #fff;
  border-radius: 6px;
  background-color: black;
  font-size: medium;
  font-weight: normal;
}
.clipboardjs .tooltip .tooltiptext::after,
.clipboardjs-button .tooltip .tooltiptext::after {
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  content: " ";
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
